# Folder upload foto mahasiswa
/uploads/*
!/uploads/.gitkeep

#uploads/
# File sistem yang tidak perlu di repo
.DS_Store
Thumbs.db

# Konfigurasi editor/IDE
.vscode/
.idea/

# Cache PHP atau file sementara
*.cache
